// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//user style
$navbar-color: #3c3e42;

/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.jumbotron {
    text-align: center;
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* header */

.navbar-inverse {
    background-color: $navbar-color;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: #fff;
    }
}


/* TIMELINE */

#placement {
    // margin: 5px;
    height: 700px;
    * {
        box-sizing: content-box;
        line-height: 1.05;
    }
}

#tg-datepicker {
    .panel-footer {
        padding: 0;
        background-color: #bbb;
        border-top: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

[class*="span"] {
    margin-left: 0px;
}

#timeglider-settings-save {
    display: block;
    text-align: right;
}

.timeglider-tick-label {
    top: 0px;
    font-size: small;
}

.tag_controls {
    padding: 12px;
    background: #d8d8d8;
    margin: 32px;
    height: auto;
}

.tags-list {
    list-style: none;
}

.tags-list {
    li {
        float: left;
        font-size: 11px;
        padding: 2px 6px;
        background-color: #363430;
        color: white;
        margin: 4px;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}

.tags-list li.selected {
    background-color: orange;
}

.tags-list li:hover,
{
    background-color: #ccc;
}

.timeglider-event-icon {
    border-radius: 50%;
}

.timeglider-tick-label {
    top: 0px;
    font-size: small;
}

.ui {
    .active {
        .selection {
            .dropdown {
                z-index: 9999;
            }
        }
    }
}

.tg-datepicker-month-col {
    li {
        height: inherit;
        margin: 5px;
        padding: 1px;
    }
}

.select2 {
    .select2-container {
        .select2-container--bootstrap {
            width: 100%!important;
        }
    }
}

.tg-single-timeline-header {
    z-index: 500;
}

.search-li {
    margin: 0 10px 0 10px;
    width: 200px;
}

.confirm-li {
    margin-top: 10px;
}


/* 浮动按钮 */

.time-menu-float {
    position: fixed;
    top: 110px;
    left: 30px;
    z-index: 99997;
    .icon.ion-plus-circled {
        font-size: 40px;
    }
}

ul.floating-menu.animated.fadeInPosition {
    z-index: 999999;
}