// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//user style

/* TIMELINE */

#placement {
    margin: 5px;
    height: 500PX;
    * {
        box-sizing: content-box;
        line-height: 1.05;
    }
}

[class*="span"] {
    margin-left: 0px;
}

#timeglider-settings-save {
    display: block;
    text-align: right;
}

.timeglider-tick-label {
    top: 0px;
    font-size: small;
}

.tag_controls {
    padding: 12px;
    background: #d8d8d8;
    margin: 32px;
    height: auto;
}

.tags-list {
    list-style: none;
}

.tags-list {
    li {
        float: left;
        font-size: 11px;
        padding: 2px 6px;
        background-color: #363430;
        color: white;
        margin: 4px;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}

.tags-list li.selected {
    background-color: orange;
}

.tags-list li:hover,
{
    background-color: #ccc;
}

.timeglider-event-icon {
    border-radius: 50%;
}

.timeglider-tick-label {
    top: 0px;
    font-size: small;
}

.ui {
    .active {
        .selection {
            .dropdown {
                z-index: 9999;
            }
        }
    }
}

.tg-datepicker-month-col {
    li {
        height: inherit;
        margin: 5px;
        padding: 1px;
    }
}

.select2 {
    .select2-container {
        .select2-container--bootstrap {
            width: 100%!important;
        }
    }
}

.tg-single-timeline-header {
    z-index: 500;
}

.search-li {
    margin: 0 10px 0 10px;
    width: 200px;
}

.confirm-li {
    margin-top: 10px;
}